ion-item{
    --background: var(--ion-color-dark);
    color: white;
    float: inherit;
}
#info{
    display: none;
}
.vermenos{
    position: relative;
    z-index: 0;
    top: 60%;
    left: -1%;
    --background: black;
    color:white;
}
.detalhes{
 position: relative;
 z-index: 1;
 top: 60%;
 left: 34%;
 --background: black;
 color:white;
}
#card1{
    height: 300px;
    width: 10px;
    position: relative;

}
#card2{
    height: 300px;
    width: 200px;
    position: relative;

}
#card3{
    height: 300px;
    width: 10px;
    position: relative;

}
#card4{
    height: 300px;
    width: 10px;
    position: relative;

}
#card5{
    height: 300px;
    width: 10px;
    position: relative;

}
#card6{
    height: 300px;
    width: 10px;
    position: relative;

}
#card7{
    height: 300px;
    width: 10px;
    position: relative;

}
#card8{
    height: 300px;
    width: 10px;
    position: relative;

}
#card9{
    height: 300px;
    width: 10px;
    position: relative;

}
#card10{
    height: 300px;
    width: 10px;
    position: relative;

}
#card11{
    height: 300px;
    width: 10px;
    position: relative;

}
#card12{
    height: 300px;
    width: 10px;
    position: relative;

}
#card13{
    height: 300px;
    width: 10px;
    position: relative;

}
#card14{
    height: 300px;
    width: 10px;
    position: relative;

}
#card15{
    height: 300px;
    width: 10px;
    position: relative;

}
#card16{
    height: 300px;
    width: 10px;
    position: relative;

}
#card17{
    height: 300px;
    width: 10px;
    position: relative;

}
#card18{
    height: 300px;
    width: 10px;
    position: relative;

}
#card19{
    height: 300px;
    width: 10px;
    position: relative;

}
#card20{
    height: 300px;
    width: 10px;
    position: relative;

}
#card21{
    height: 300px;
    width: 10px;
    position: relative;

}
#card22{
    height: 300px;
    width: 10px;
    position: relative;

}
#card23{
    height: 300px;
    width: 10px;
    position: relative;

}
#card24{
    height: 300px;
    width: 10px;
    position: relative;

}
#card25{
    height: 300px;
    width: 10px;
    position: relative;

}
#card26{
    height: 300px;
    width: 10px;
    position: relative;

}
#card27{
    height: 300px;
    width: 10px;
    position: relative;

}
#card28{
    height: 300px;
    width: 10px;
    position: relative;

}
#card29{
    height: 300px;
    width: 10px;
    position: relative;

}
#card30{
    height: 300px;
    width: 10px;
    position: relative;

}
#card31{
    height: 300px;
    width: 10px;
    position: relative;

}
#card32{
    height: 300px;
    width: 10px;
    position: relative;

}
#card33{
    height: 300px;
    width: 10px;
    position: relative;

}
#card34{
    height: 300px;
    width: 10px;
    position: relative;

}
#card35{
    height: 300px;
    width: 10px;
    position: relative;

}
#card36{
    height: 300px;
    width: 10px;
    position: relative;

}
#card37{
    height: 300px;
    width: 10px;
    position: relative;

}
#card38{
    height: 300px;
    width: 10px;
    position: relative;

}
#card39{
    height: 300px;
    width: 10px;
    position: relative;

}
#card40{
    height: 300px;
    width: 10px;
    position: relative;

}
#card41{
    height: 300px;
    width: 10px;
    position: relative;

}
#card42{
    height: 300px;
    width: 10px;
    position: relative;

}
#card43{
    height: 300px;
    width: 10px;
    position: relative;

}
#card44{
    height: 300px;
    width: 10px;
    position: relative;

}
#card45{
    height: 300px;
    width: 10px;
    position: relative;

}
#card46{
    height: 300px;
    width: 10px;
    position: relative;

}
#card47{
    height: 300px;
    width: 10px;
    position: relative;

}
#card48{
    height: 300px;
    width: 10px;
    position: relative;

}
#card49{
    height: 300px;
    width: 10px;
    position: relative;

}
#card50{
    height: 300px;
    width: 10px;
    position: relative;

}
#card51{
    height: 300px;
    width: 10px;
    position: relative;

}
#card52{
    height: 300px;
    width: 10px;
    position: relative;

}#card53{
    height: 300px;
    width: 10px;
    position: relative;

}#card54{
    height: 300px;
    width: 10px;
    position: relative;

}#card55{
    height: 300px;
    width: 10px;
    position: relative;

}#card56{
    height: 300px;
    width: 10px;
    position: relative;

}#card57{
    height: 300px;
    width: 10px;
    position: relative;

}#card58{
    height: 300px;
    width: 10px;
    position: relative;

}#card59{
    height: 300px;
    width: 10px;
    position: relative;

}#card60{
    height: 300px;
    width: 10px;
    position: relative;

}#card61{
    height: 300px;
    width: 10px;
    position: relative;

}#card62{
    height: 300px;
    width: 10px;
    position: relative;

}#card63{
    height: 300px;
    width: 10px;
    position: relative;

}#card64{
    height: 300px;
    width: 10px;
    position: relative;

}#card65{
    height: 300px;
    width: 10px;
    position: relative;

}#card66{
    height: 300px;
    width: 10px;
    position: relative;

}#card67{
    height: 300px;
    width: 10px;
    position: relative;

}#card68{
    height: 300px;
    width: 10px;
    position: relative;

}#card69{
    height: 300px;
    width: 10px;
    position: relative;

}#card70{
    height: 300px;
    width: 10px;
    position: relative;

}#card71{
    height: 300px;
    width: 10px;
    position: relative;

}
#card72{
    height: 300px;
    width: 10px;
    position: relative;

}#card73{
    height: 300px;
    width: 10px;
    position: relative;

}#card74{
    height: 300px;
    width: 10px;
    position: relative;

}#card75{
    height: 300px;
    width: 10px;
    position: relative;

}#card76{
    height: 300px;
    width: 10px;
    position: relative;

}#card77{
    height: 300px;
    width: 10px;
    position: relative;

}#card78{
    height: 300px;
    width: 10px;
    position: relative;

}
#card79{
    height: 300px;
    width: 10px;
    position: relative;

}#card80{
    height: 300px;
    width: 10px;
    position: relative;

}#card81{
    height: 300px;
    width: 10px;
    position: relative;

}
#card82{
    height: 300px;
    width: 10px;
    position: relative;

}
#card83{
    height: 300px;
    width: 10px;
    position: relative;

}
#card84{
    height: 300px;
    width: 10px;
    position: relative;

}
#card85{
    height: 300px;
    width: 10px;
    position: relative;

}
#card86{
    height: 300px;
    width: 10px;
    position: relative;

}
#card87{
    height: 300px;
    width: 10px;
    position: relative;

}
#card88{
    height: 300px;
    width: 10px;
    position: relative;

}
#card89{
    height: 300px;
    width: 10px;
    position: relative;

}
#card90{
    height: 300px;
    width: 10px;
    position: relative;

}
#card91{
    height: 300px;
    width: 10px;
    position: relative;

}
#card92{
    height: 300px;
    width: 10px;
    position: relative;

}
#card93{
    height: 300px;
    width: 10px;
    position: relative;

}
#card94{
    height: 300px;
    width: 10px;
    position: relative;

}
#card95{
    height: 300px;
    width: 10px;
    position: relative;

}
#card96{
    height: 300px;
    width: 10px;
    position: relative;

}
#card97{
    height: 300px;
    width: 10px;
    position: relative;

}
#card98{
    height: 300px;
    width: 10px;
    position: relative;

}


#imagem1{
    display: block;
    background: url(../../assets/img/3gatsunolion.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem2{
    display: block;
    background: url(../../assets/img/AfroSamurai.jpg)no-repeat;
    position: absolute;
    height: 290px;
    width: 180px;
    float:left;
}
#imagem3{
    display: block;
    background: url(../../assets/img/akamegakill.jpg)no-repeat;
    position: relative;
    height: 270px;
    width: 190px;
    float:left;
}
#imagem4{
    display: block;
    background: url(../../assets/img/AngelBeats.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}

#imagem5{
    display: block;
    background: url(../../assets/img/Another.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem6{
    display: block;
    background: url(../../assets/img/AnsatsuKyoushitsu.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem7{
    display: block;
    background: url(../../assets/img/Aria.jpg)no-repeat;
    position: absolute;
    height: 250px;
    width: 190px;
    float:left;
}
#imagem8{
    display: block;
    background: url(../../assets/img/AsobiAsobase.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem9{
    display: block;
    background: url(../../assets/img/Bakuman.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem10{
    display: block;
    background: url(../../assets/img/Bakugan.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem11{
    display: block;
    background: url(../../assets/img/BananaFish.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem12{
    display: block;
    background: url(../../assets/img/Beelzebub.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem13{
    display: block;
    background: url(../../assets/img/Berserk.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem14{
    display: block;
    background: url(../../assets/img/Beyblade.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem15{
    display: block;
    background: url(../../assets/img/Bleach.png)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem16{
    display: block;
    background: url(../../assets/img/BlendS.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left; 
}
#imagem17{
    display: block;
    background: url(../../assets/img/BokunoHeroAcademia.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem18{
    display: block;
    background: url(../../assets/img/BTheBeginning.jpg)no-repeat;
    position: absolute;
    height: 260px;
    width: 180px;
    float:left;
}
#imagem19{
    display: block;
    background: url(../../assets/img/Charlotte.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem20{
    display: block;
    background: url(../../assets/img/ClannadAfterStory.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem21{
    display: block;
    background: url(../../assets/img/Canaan.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem22{
    display: block;
    background: url(../../assets/img/Capeta.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem23{
    display: block;
    background: url(../../assets/img/Danganronpa.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem24{
    display: block;
    background: url(../../assets/img/DarlingintheFranXX.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem25{
    display: block;
    background: url(../../assets/img/DeathParade.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem26{
    display: block;
    background: url(../../assets/img/DeathNote.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem27{
    display: block;
    background: url(../../assets/img/DigimonAdventure.png)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem28{
    display: block;
    background: url(../../assets/img/Dororo.jpg)no-repeat;
    position: absolute;
    height: 260px;
    width: 190px;
    float:left;
}
#imagem29{
    display: block;
    background: url(../../assets/img/DragonBallZ.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem30{
    display: block;
    background: url(../../assets/img/DungeonniDeaiwoMotomerunowaMachigatteiruDarouka.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem31{
    display: block;
    background: url(../../assets/img/Durarara.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem32{
    display: block;
    background: url(../../assets/img/ElfenLied.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem33{
    display: block;
    background: url(../../assets/img/FairyTail.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem34{
    display: block;
    background: url(../../assets/img/FatestaynightUnlimitedBladeWorks.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem35{
    display: block;
    background: url(../../assets/img/FateZero.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem36{
    display: block;
    background: url(../../assets/img/Free.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem37{
    display: block;
    background: url(../../assets/img/FullmetalAlchemistBrothehood.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem38{
    display: block;
    background: url(../../assets/img/FreshPrecure.jpg)no-repeat;
    position: absolute;
    height: 260px;
    width: 190px;
    float:left;
}
#imagem39{
    display: block;
    background: url(../../assets/img/Gintama.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem40{
    display: block;
    background: url(../../assets/img/Girls&Panzer.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem41{
    display: block;
    background: url(../../assets/img/GoblinSlayer.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem42{
    display: block;
    background: url(../../assets/img/GotoubunnoHanayome.jfif)no-repeat;
    position: absolute;
    height: 270px;
    width: 180px;
    float:left;
}
#imagem43{
    display: block;
    background: url(../../assets/img/GrandBlue.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem44{
    display: block;
    background: url(../../assets/img/GuiltyCrown.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
}
#imagem45{
    display: block;
    background: url(../../assets/img/Haikyuu.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem46{
    display: block;
    background: url(../../assets/img/HajimenoIppoRising.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem47{
    display: block;
    background: url(../../assets/img/HighSchoolDxD.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem48{
    display: block;
    background: url(../../assets/img/HighScoreGirl.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem49{
    display: block;
    background: url(../../assets/img/InazumaEleven.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem50{
    display: block;
    background: url(../../assets/img/JoJonoKimyounaBouken.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem51{
    display: block;
    background: url(../../assets/img/JoJonoKimyounaBoukenDiamondwaKudakenai.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem52{
    display: block;
    background: url(../../assets/img/JoJonoKimyounaBoukenOugonnoKaze.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem53{
    display: block;
    background: url(../../assets/img/JoJonoKimyounaBoukenStardustCrusaders2ndSeason.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem54{
    display: block;
    background: url(../../assets/img/KazeGa.jpg)no-repeat;
    position: absolute;
    height: 270px;
    width: 200px;
    float:left;
    
}#imagem55{
    display: block;
    background: url(../../assets/img/Kamichama.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem56{
    display: block;
    background: url(../../assets/img/KaguyaSama.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem57{
    display: block;
    background: url(../../assets/img/Kakegurui.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem58{
    display: block;
    background: url(../../assets/img/KekkaiSensen.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem59{
    display: block;
    background: url(../../assets/img/KenpuuDenkiBerserk.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem60{
    display: block;
    background: url(../../assets/img/KillLaKill.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem61{
    display: block;
    background: url(../../assets/img/KiseijuuSeinoKakuritsu.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem62{
    display: block;
    background: url(../../assets/img/Kiznaiver.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem63{
    display: block;
    background: url(../../assets/img/KobayashisanChinoMaidDragonValentineSoshiteOnsenAmariKitaiShinaideKudasai.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem64{
    display: block;
    background: url(../../assets/img/KonoSubarashiiSekainiShukufukuwo.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem65{
    display: block;
    background: url(../../assets/img/KoukakuKidoutaiSAC.2ndGIG.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem66{
    display: block;
    background: url(../../assets/img/Kamisama-no-Inai-Nichiyoubi-poster.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem67{
    display: block;
    background: url(../../assets/img/Kurenai.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem68{
    display: block;
    background: url(../../assets/img/KurokonoBasket.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem69{
    display: block;
    background: url(../../assets/img/MadeinAbyss.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem70{
    display: block;
    background: url(../../assets/img/Magi.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem71{
    display: block;
    background: url(../../assets/img/MahouShoujoMadokaMagica.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem72{
    display: block;
    background: url(../../assets/img/MegaloBox.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem73{
    display: block;
    background: url(../../assets/img/MiraiNikki.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem74{
    display: block;
    background: url(../../assets/img/MobPsycho100.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem75{
    display: block;
    background: url(../../assets/img/MushishiZokuShou.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem76{
    display: block;
    background: url(../../assets/img/Monster.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem77{
    display: block;
    background: url(../../assets/img/Naruto.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem78{
    display: block;
    background: url(../../assets/img/NatsumeYuujinchouRoku.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem79{
    display: block;
    background: url(../../assets/img/Noragami.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}#imagem80{
    display: block;
    background: url(../../assets/img/OnePiece.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem81{
    display: block;
    background: url(../../assets/img/OnePunchMan.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem82{
    display: block;
    background: url(../../assets/img/OreMonogatari.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem83{
    display: block;
    background: url(../../assets/img/Overlord.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem84{
    display: block;
    background: url(../../assets/img/PsychoPass.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem85{
    display: block;
    background: url(../../assets/img/ReZerokaraHajimeruIsekaiSeikatsu.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem86{
    display: block;
    background: url(../../assets/img/SaintSeiyaMeiouHadesJuuniKyuu-hen.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem87{
    display: block;
    background: url(../../assets/img/SeishunButaYarouwaBunnyGirlSenpainoYumewoMinai.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem88{
    display: block;
    background: url(../../assets/img/ShigatsuwaKiminoUso.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem89{
    display: block;
    background: url(../../assets/img/ShingekinoKyojin.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem90{
    display: block;
    background: url(../../assets/img/SoulEater.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem91{
    display: block;
    background: url(../../assets/img/SteinsGate.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem92{
    display: block;
    background: url(../../assets/img/SteinsGate0.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem93{
    display: block;
    background: url(../../assets/img/SwordArtOnline.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem94{
    display: block;
    background: url(../../assets/img/TatenoYuushanoNariagari.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem95{
    display: block;
    background: url(../../assets/img/TengenToppaGurrenLagann.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
#imagem96{
    display: block;
    background: url(../../assets/img/TenseishitaraSlimeDattaKen.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}

#imagem97{
    display: block;
    background: url(../../assets/img/TokyoGhoul.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}

#imagem98{
    display: block;
    background: url(../../assets/img/VioletEvergarden.jpg)no-repeat;
    position: absolute;
    height: 300px;
    width: 200px;
    float:left;
    
}
